Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} TRACE [NC]
  RewriteRule .* - [F,L]

  RewriteCond %{REQUEST_URI} !.php$ [NC]
  RewriteRule ^ - [F,L]
</IfModule>

<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-Frame-Options "DENY"
  Header always set Referrer-Policy "same-origin"
  Header always set X-XSS-Protection "1; mode=block"
</IfModule>
